# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec
.dist/
build/
dist/
.venv/
.env
.env.*
*.log

# Proteger config com tokens embutidos
# (Descomente esta linha DEPOIS de configurar tokens)
# app/config.py

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

# Data/Temp
/data/
*.sqlite3
*.db
*.db-journal
downloads/
processed/

# PyInstaller
*.manifest
*.spec
build/
dist/
Aplicativo/*.exe
